## Debugging

In [13]:
rate = 0.15

name = ipput("Enter your name:")
salary = input("Enter your salary:")
try:
    new_salary = 0
    
new_salary = salary + salary * rate

# new_salary = salary *(1 + raise)

print("%s - your new salary is : %f" (name,new_salary))

NameError: name 'ipput' is not defined

In [41]:
rate = 0.15

name = input("Enter your name:")
salary = float(input("Enter your salary:"))

print("Salary type is:",type(salary))
new_salary = salary + salary * rate
# new_salary = salary*(1 + raise)

print("%s - your new salary is: %f" % (name,new_salary))

Enter your name:Tom
Enter your salary:2323
Salary type is: <class 'float'>
Tom - your new salary is: 2671.450000

In [89]:
rate = 0.15

name = input("Enter your name:")
salary = input("Enter your salary:")

print("Salary type is:",type(salary))
new_salary = salary + salary * rate
# new_salary = salary*(1 + raise)

print("%s - your new salary is: %f" % (name,new_salary))

Enter your name:tom
Enter your salary:2323
Salary type is: <class 'str'>

TypeError: can't multiply sequence by non-int of type 'float'

In [46]:
rate = 0.15

name = input("Enter your name:")
salary = float(input("Enter your salary"))

print("Salary type is:",type(salary))
new_salary = salary + salary * rate
# new_salary = salary*(1 + raise)

print("%s - your new salary is: %f" % (name,new_salary))

Enter your name:Tom
Enter your salary2323
Salary type is: <class 'float'>
Tom - your new salary is: 2671.450000

In [49]:
rate = 0.15

new_salary = 0
name = input("Enter your name:")
salary = input("Enter your salary:")
try:
    new_salary = salary + salary * rate
    
except Exception as error:
    print("There is a problem with the code")
# new_salary = salary*(1 + raise)

print("%s - your new salary is: %f" % (name,new_salary))

Enter your name:Tom
Enter your salary:2323
There is a problem with the code
Tom - your new salary is: 0.000000

In [52]:
rate = 0.15

new_salary = 0
name = input("Enter your name:")
salary = input("Enter your salary:")
try:
    new_salary = salary + salary * rate
    
except Exception as error:
    print("There is a problem with the code")
# new_salary = salary*(1 + raise)

print("%s - your new salary is: %f" % (name,new_salary))

Enter your name:Tom
Enter your salary:2323
There is a problem with the code
Tom - your new salary is: 0.000000

## Looking for index

In [53]:
s = "rainbow"
s

'rainbow'

In [54]:
for letter in s:
    print(letter)

r
a
i
n
b
o
w

In [55]:
for i in range(len(s)):
    print(i,s[i])

0 r
1 a
2 i
3 n
4 b
5 o
6 w

In [61]:
for i in range(len(s)):
    print(i,s)

0 rainbow
1 rainbow
2 rainbow
3 rainbow
4 rainbow
5 rainbow
6 rainbow

In [73]:
s[6]

'w'

In [74]:
S[7]

NameError: name 'S' is not defined

## find the lenght of longest word in sentence

In [75]:
word = "hello"
len(word)

5

In [76]:
word = "hello"
len(word)

5

In [77]:
sentence = "jack and jill went up the hill to fetch a pail of water"
sentence

'jack and jill went up the hill to fetch a pail of water'

In [79]:
sentence = "jack and jill went up the hill to fetch a pail of water"
sentence

'jack and jill went up the hill to fetch a pail of water'

In [78]:
sentence.split()

['jack',
 'and',
 'jill',
 'went',
 'up',
 'the',
 'hill',
 'to',
 'fetch',
 'a',
 'pail',
 'of',
 'water']

## Longest word

In [80]:
longest_word = ""

for word in sentence.split():
    
    if len(word) > len(longest_word):
        longest_word = word

In [81]:
longest_word

'fetch'

## Anagram

In [82]:
sentence = "bob and his ana are looking great today"
for word in sentence.split():
    
    if word == word[::-1]:
        print("Anagram found:", word)

Anagram found: bob
Anagram found: ana

In [84]:
sentence = "bob and his ana are looking great today"
for word in sentence.split():
    
    if word == word[::-1]:
        print("Anagram found:", word)

Anagram found: bob
Anagram found: ana

In [88]:
?sentence.split

## Split by commas

In [ ]:
shopping_list = "carrots,yogurt,milk,eggs,broccoli"
shopping_list

In [90]:
shopping_list = "carrots,yoyurt,milk,eggs,broccoli"
shopping_list

'carrots,yoyurt,milk,eggs,broccoli'

In [ ]:
for word in shopping_list.split(','):
    
    print(word)

In [92]:
for word in shopping_list.split(','):
    
    print(word)

carrots
yoyurt
milk
eggs
broccoli

## Sorting the data

## Lists, Tuples and Dictionaries

In [ ]:
employee_1 = "Tom"
employee_2 = "Harry"
employee_3 = "Mary"
employee_4 = "Poppins"
employee_5 = "Sarah"

## Lists

In [97]:
employee_names = ['Tom', 'Harry', 'Mary', 'Poppins', 'Sarah']
employee_names

['Tom', 'Harry', 'Mary', 'Poppins', 'Sarah']

In [99]:
employee_names[3]

'Poppins'

In [101]:
for name in employee_names:
    print(name)

Tom
Harry
Mary
Poppins
Sarah

In [109]:
l_employee_1_info = ["Tom",45,"Physics",100000]
l_employee_2_info = ["Mary",42,"Chemistry",110000]

In [114]:
l_employee_1_info[0] = "John"

In [115]:
l_employee_1_info,l_employee_2_info

(['John', 45, 'Physics', 100000], ['Mary', 42, 'Chemistry', 110000])

In [ ]:
l_employee_1_info = ["Tom",45,"Physics",100000]
l_employee_2_info = ["Marry",42,"Chemistry",110000]

In [ ]:
l_employee_1_info[0] = "John"

In [116]:
l_employee_1_info, l_employee_2_info

(['John', 45, 'Physics', 100000], ['Mary', 42, 'Chemistry', 110000])

In [119]:
l_employees = [employee_1_info, employee_2_info]

In [122]:
l_employees

[{100000, 45, 'Physics', 'Tom'}, {110000, 42, 'Chemistry', 'Marry'}]

In [123]:
for employee in l_employees:
    for item in employee:
        print(item)

Physics
Tom
45
100000
Marry
42
110000
Chemistry

## Tuples

In [124]:
t_employee_1_info = ("Tom",45,"Physics",100000)
t_employee_2_info = ("Mary",42,"Chemistry",110000)

t_employees = (employee_1_info, employee_2_info)

for employee in t_employees:
    for item in employee:
        print(item)

Physics
Tom
45
100000
Marry
42
110000
Chemistry

In [125]:
t_employee_1_info[0] = "John"

TypeError: 'tuple' object does not support item assignment

## MIT example

In [127]:
x = (1, 2, (3, 'John', 4), 'Hi')

In [128]:
x[0:-1]

(1, 2, (3, 'John', 4))

In [129]:
x[0:-1]

(1, 2, (3, 'John', 4))

In [130]:
x[0:1]

(1,)

## Looking at employee data

In [131]:
!dir *.csv

 Volume in drive C has no label.
 Volume Serial Number is 6465-3000

 Directory of C:\Users\ken.tran

File Not Found

In [ ]:
import math

?math.log

In [132]:
math.log(100000,2)

16.609640474436812

In [133]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 6465-3000

 Directory of C:\Users\ken.tran

02/25/2020  11:30 PM    <DIR>          .
02/25/2020  11:30 PM    <DIR>          ..
02/25/2020  05:03 PM    <DIR>          .agile
01/28/2020  08:32 AM    <DIR>          .anaconda
02/22/2020  06:44 PM    <DIR>          .conda
02/21/2020  01:58 PM                43 .condarc
02/21/2020  02:34 PM    <DIR>          .config
02/05/2020  09:28 PM                55 .gitconfig
02/25/2020  01:08 PM    <DIR>          .ipynb_checkpoints
01/28/2020  08:38 AM    <DIR>          .ipython
03/20/2014  04:27 PM    <DIR>          .jinit
01/30/2020  02:12 PM    <DIR>          .jupyter
02/21/2020  02:34 PM    <DIR>          .matplotlib
08/18/2015  12:40 PM    <DIR>          .oracle_jre_usage
01/30/2020  10:49 PM               628 .python_history
02/21/2020  02:33 PM    <DIR>          .spyder-py3
05/16/2019  11:12 AM    <DIR>          22013027
12/16/2019  10:50 AM    <DIR>          AFOP
02/10/2020  09:46 PM            29,539 cis024c_classwork_02102020.ipynb
02/25/2020  08:25 AM           303,547 cis024c_classwork_02242020.ipynb
01/30/2020  02:16 PM    <DIR>          Classwork_01282020
06/13/2019  08:15 AM    <DIR>          Contacts
02/25/2020  11:30 PM            36,868 CW022420.ipynb
02/25/2020  09:10 PM    <DIR>          CW04032020
02/25/2020  04:37 PM    <DIR>          Desktop
01/28/2020  08:24 AM    <DIR>          Documents
02/25/2020  08:24 AM    <DIR>          Downloads
06/13/2019  08:15 AM    <DIR>          Favorites
01/06/2020  12:32 PM    <DIR>          Fiber _Chris
02/06/2020  09:51 PM            13,583 hw1(1).ipynb
02/04/2020  09:43 PM            11,671 hw1-Copy1.ipynb
02/06/2020  09:22 PM            13,583 hw1.ipynb
02/06/2020  02:22 PM            15,547 hw2-Copy1.ipynb
02/09/2020  08:28 PM            12,603 hw2.ipynb
02/24/2020  10:23 PM            13,839 hw3.ipynb
02/24/2020  10:21 PM            13,839 hw3_Ken.ipynb
02/25/2020  01:08 PM             9,568 hw4.ipynb
10/23/2018  01:05 PM    <DIR>          Inphi Missing
06/13/2019  08:15 AM    <DIR>          Links
06/13/2019  08:15 AM    <DIR>          Music
08/28/2019  02:10 PM    <DIR>          New Port
11/05/2019  01:50 PM    <DIR>          Noise Injection
02/24/2019  04:56 PM    <DIR>          OFC2019
10/31/2014  12:39 PM    <DIR>          Oracle Jar Cache
09/27/2019  03:18 PM    <DIR>          OSFP Thermal head
06/13/2019  08:15 AM    <DIR>          Pictures
06/13/2019  08:15 AM    <DIR>          Saved Games
06/13/2019  08:15 AM    <DIR>          Searches
02/24/2020  11:24 PM         3,124,755 spell-checker.ipynb
02/03/2020  10:52 PM    <DIR>          tran
09/18/2018  10:44 AM    <DIR>          Tuning Process
02/04/2020  09:42 PM             8,413 Untitled.ipynb
01/28/2020  04:47 PM             2,196 Untitled1.ipynb
02/18/2020  11:16 PM                72 Untitled2.ipynb
02/04/2020  09:53 PM             1,341 Untitled3.ipynb
06/13/2019  08:15 AM    <DIR>          Videos
02/05/2020  11:38 PM    <DIR>          Week2
10/28/2019  04:31 PM    <DIR>          Yuxin Pictures
02/25/2020  11:29 PM           301,404 ___cis024c_classwork_02242020.ipynb
              20 File(s)      3,913,094 bytes
              39 Dir(s)  162,711,224,320 bytes free

In [ ]:
!pip install datascience

In [ ]:
from datascience import *
import numpy as np

In [134]:
!dir *.csv

 Volume in drive C has no label.
 Volume Serial Number is 6465-3000

 Directory of C:\Users\ken.tran

File Not Found

In [ ]:
records = Table.read_table('5000 Records.csv')
records

## Dictionary Syntax

In [140]:
l_employee_1_info = ["Tom",45,"Physics",100000]
l_employee_2_info = ["Mary",42,"Chemistry",110000]

In [141]:
d_employee = {}

d_employee['Tom'] = [45,"Physics",100000]

In [142]:
d_employee['Mary'] = [42,"Chemistry",110000]

In [144]:
d_employee

{'Tom': [45, 'Physics', 100000], 'Mary': [42, 'Chemistry', 110000]}

In [145]:
for employee in d_employee:
    print(employee, d_employee[employee])

Tom [45, 'Physics', 100000]
Mary [42, 'Chemistry', 110000]

In [ ]:
for employee in d_employee:
    print(employee, d_employee[employee])

## Edge X dictionary finger exercise

In [148]:
animals = {'a': 'aardvark', 'b': 'baboon', 'c': 'coati', 'd': 'donkey'}

In [149]:
animals

{'a': 'aardvark', 'b': 'baboon', 'c': 'coati', 'd': 'donkey'}

In [150]:
list(animals.keys())

['a', 'b', 'c', 'd']

In [151]:
del animals['b']
len(animals)

3

## Performance testing of dictionaries

In [16]:
userword = input("Enter your list of word:")
print (userword)

Enter your list of word:ansbd
ansbd

## find the lenght of longest word in sentence

In [18]:
longest_word = ""
for word in sentence.split():
    print(word)
    
    if len(word) . len(longest_word):longest_word = word

NameError: name 'sentence' is not defined

## Exercise8: write a python program to accept a set of comma seperated set values from the user and display individual value seperately

## Lists, Tupples and Dictionaries

In [ ]:
employee_1 = "Tom"
employee_2 = "Harry"
employee_3 = "Marry"
employee_4 = "Poppins"
employee_5 = "Sarah"

## LIsts

In [19]:
employee_names = ["Tom","Harry","Marry","Poppins","Sarah"]

In [22]:
for name in employee_names:
    print(name)

Tom
Harry
Marry
Poppins
Sarah

In [23]:
employee_1_info = {"Tom",45,"Physics",100000}
employee_2_info = {"Marry",42,"Chemistry",110000}

employee_1_info, employee_2_info

({100000, 45, 'Physics', 'Tom'}, {110000, 42, 'Chemistry', 'Marry'})

In [24]:
1_employees = [employee_1_info, employee_2_info]

for employee in t_employees:
    for item in employee:
        print(item)

SyntaxError: invalid token (<ipython-input-24-23a7b505eeb3>, line 1)

## Tuples

In [ ]:
employee_1_info = {"Tom",45,"Physics",100000}
employee_2_info = {"Marry",42,"Chemistry",110000}

## MIT Example

## Looking at employee data

In [25]:
!dir *.csv

 Volume in drive C has no label.
 Volume Serial Number is 6465-3000

 Directory of C:\Users\ken.tran

File Not Found

In [27]:
import math

?math.log

In [28]:
math.log(100000,2)

16.609640474436812

In [ ]:
employee_1_info = {"Tom",45,"Physics",100000}
employee_2_info = {"Marry",42,"Chemistry",110000}

## Dictionary Syntax

In [ ]:
employee_1_info = {"Tom",45,"Physics",100000}
employee_2_info = {"Marry",42,"Chemistry",110000}

In [ ]:
d_employee = {}
d_employee['Tom'] = [45,"Physics",100000]

In [31]:
d_employee['Marry'] = [42,"Physics",110000]

NameError: name 'd_employee' is not defined

In [30]:
d_employee

NameError: name 'd_employee' is not defined

### Edge X dictionary

## Performance testing of dictionaries

In [32]:
math.log(158000000,2)

27.235349317501274

In [ ]:
4998.....

### Search list for employee name by ID

### Search dictionary for employee name by id

In [33]:
name = "Harry"

#### Init a list with 100 zeroailize

In [36]:
my_list = [0] * 100

In [ ]:
my_list = list(range)

## Exercise7 Write a python scripts

employee = input("Tom","Jeni","Steve","Angle")
employee

In [ ]:
employee = input("Tom","Jeni","Steve","Angle")

#### looking for employee ID

In [ ]:
employee_id = int(input("Enter your employee id:))
if employee_id in employee:
                        print("Name:")